body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

section.about, section.introducao {
    align-items: center;
    display: flex;
    justify-content: center;
}

section.about div{
    text-align: center;
    font-size: 20px;
    padding-left: 55px;
}

section.about div h2, section.about div p {
    padding: 20px;
}

section.introducao {
    text-align: center;
    font-size: 20px;
    padding: 25px;
}

section.introducao div h2, section.introducao div p {
    padding: 25px;
}

section.skills {
    align-items: center;
    justify-content: center;
}

section.skills div h2 {
    text-align: center;
    padding-top: 100px;
    font-size: 35px;
}

section.skills div.skills-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.logo-img {
    width: 205px;
    padding: 70px;
}

section.introducao div img, section.about div img, section.skills div img{
    max-width: 400px;
}

.introducao{
    justify-items: center;
}

.about {
    justify-items: center;
}