body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.navbar nav a {
    text-decoration: none;
}

header {
    background-color: rgb(10, 84, 126);
    position: sticky;
    top: 0;
}

header nav a {
    color: white;
}

header nav a:hover {
    color: lightblue;
}

header .home-button:hover {
    color: lightblue;
}

main h1,
h2 {
    color: rgb(10, 84, 126);
}

header .home-button {
    font-size: 30px;
    text-decoration: none;
    color: white;
}

div.port-image img {
    width: 500px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

::placeholder {
    text-align: center;
}

.port-image {
    text-align: center;
}

td select#regiao {
    margin: 15px 15px;
}

td input {
    margin: 15px 15px;
}

table tbody td h3 {
    color: rgb(10, 84, 126);
}

table tbody tr td button {
    background-color: rgb(10, 84, 126);
    color: white;
    padding: 20px;
    border: 1px solid;
    border-radius: 40px;
    font-size: 15px;
}

div.container div.topics {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 150px;
    padding: 25px 0px;
}

div.topics button.link-topics {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 700;
    background-color: rgb(10, 84, 126);
    padding: 25px;
    border-radius: 150px;
    border: none;
    cursor: pointer;
}

section.port-image,
section.port-image h2 {
    padding: 25px;
}

section.port-image div p {
    font-size: 18px;
}

section.port-image button {
    color: white;
    font-weight: 700;
    background-color: rgb(10, 84, 126);
    padding: 25px;
    border-radius: 150px;
    border: none;
    cursor: pointer;
}

section.port-image div,
section.port-image div p {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 45px;
    padding-top: 25px;
}

footer div#footer {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
    background-color: rgb(10, 84, 126);
    color: white;
    padding: 15px;
}

.link-topics {
    transition: all .2s ease-in-out;
}

button.link-topics:hover {
    transform: scale(1.1);
}

.about {
    justify-items: center;
}

@media (max-width: 768px) {}