body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.navbar nav a {
    text-decoration: none;
}

header {
    background-color: rgb(10, 84, 126);
}

header nav a {
    color: white;
}

header nav a:hover {
    color: lightblue;
}

header .home-button:hover {
    color: lightblue;
}

main h1,
h2 {
    color: rgb(10, 84, 126);
}

header .home-button {
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

::placeholder {
    text-align: center;
}

.port-image {
    text-align: center;
}

td select#regiao {
    margin: 15px 15px;
}

td input {
    margin: 15px 15px;
}

table tbody td h3 {
    color: rgb(10, 84, 126);
}

table tbody tr td button {
    background-color: rgb(10, 84, 126);
    color: white;
    padding: 20px;
    border: 1px solid;
    border-radius: 40px;
    font-size: 15px;
}

input:focus {
    border: 5px solid lightgray;
}


footer {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
    background-color: rgb(10, 84, 126);
    color: white;
    font-size: 20px;
    padding: 20px;
}

.about {
    justify-items: center;
}